@media (max-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }

  .tel {
    display: none;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }

  .bars {
    display: block;
  }

  .linksSocialButton {
    display: none;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
}
