* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

@font-face {
  font-family: Manrope-Regular;
  src: url(../fonts/Manrope/Manrope-VariableFont_wght.ttf);
}
@font-face {
  font-family: PlayfairDisplay-Regular;
  src: url(../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}

body {
  font-family: Manrope-Regular;
}

.container {
  margin: auto;
  max-width: 1320px;
}

nav {
  height: 70px;
  display: flex;
  align-items: center;
  font-family: Manrope-Regular;
  justify-content: space-between;
}

.logoAndTel {
  gap: 30px;
  display: flex;
  align-items: center;
}

.logo img {
  width: 20vh;
}

.linksSocialButton {
  gap: 27px;
  display: flex;
  align-items: center;
}

.tel {
  gap: 10px;
  display: flex;
  font-size: 13px;
  font-weight: 400;
  align-items: center;
}

.tel a {
  color: black;
}

.tel img {
  width: 2vh;
}

.links {
  gap: 20px;
  display: flex;
}
.links a {
  color: #555555;
  font-size: 12px;
}

.socialMedia {
  gap: 13px;
  display: flex;
}

.button {
  gap: 10px;
  display: flex;
  padding: 10px 15px;
  align-items: center;
  background-color: #7a9ca5;
}

.button a {
  color: white;
  font-size: 11px;
}

.button img {
  width: 2vh;
}

.hero {
  background: url(../images/Background.svg) no-repeat center;
  height: calc(100vh - 70px);
  background-size: cover;
  position: relative;
}

.hero img {
  width: 100%;
}

.hero-content {
  top: 29%;
  width: 55vh;
  position: absolute;

  h6 {
    font-size: 12px;
    font-weight: 400;
    color: #5c8692;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  h1 {
    font-size: 40px;
    font-family: PlayfairDisplay-Regular;
  }

  p {
    margin: 20px 0;
    font-size: 15px;
    font-weight: 300;
    color: #555555;
    line-height: 30px;
  }

  a {
    color: white;
    font-size: 10px;
    padding: 15px 20px;
    letter-spacing: 2px;
    background: #5c8692;
    text-transform: uppercase;
  }
}

.bars {
  width: 30px;
  height: 30px;
  display: none;
  cursor: pointer;
}

.bars img {
  width: 100%;
}

.service-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
